    <div class="header">
<<<<<<< HEAD

            <h1>DOG RESCUE</h1>
            <img id="header-logo" src="https://www.onlygfx.com/wp-content/uploads/2018/01/grunge-paw-print-2.png" alt="">
            <h3>Welcome to our Dog Rescue Site</h3>
            <h3>Together we save lives</h3>
=======
        <h1>DOG RESCUE</h1>
        <h3>Welcome to our Dog Rescue Site</h3>
        <h3>Together we save lives</h3>
>>>>>>> Add Test Landing Page + Bootstrap
    </div>
    <div class="landing-help">
        <h1>Join the team ahd <a href="/about"> help us </a>out </h1>
    </div>
