a,
a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

#nav {
  font-size: 30px;
  display: flex;
  justify-content: center;
  z-index: 2;
  font-size: 60px;
  color: #ff7a00;
}
#nav a.router-link-exact-active {
  color: #9f9f9f;
}

.nav-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  background: black;
  z-index: 2;
  width: 100%;
}

/**************** RESPONSIVENESS SMALL ****************/
@media (max-width: 575.98px) {
  #nav {
    font-size: 18px;
    margin-top: 1%;
    flex-wrap: wrap;
  }

  .main {
    height: 115vh;
    width: 115%;
  }
}
/**************** RESPONSIVENESS Medium ****************/
@media (min-width: 576px) and (max-width: 767.98px) {
  #nav {
    font-size: 25px;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #nav {
    font-size: 35px;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #nav {
    font-size: 40px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  #nav {
    font-size: 50px;
    flex-wrap: wrap;
  }
}
