/********************Imports**********************/
@font-face {
  src: url("/fonts/DancingScript-Regular.otf");
  font-family: dancing;
}

/********************FORM SECTION**********************/
.adopt {
  background-image: url("https://www.muralswallpaper.com/app/uploads/Red-Dog-Paw-Print-Pattern-Wallpaper-Mural-Plain-820x532.jpg");
  display: flex;
  position: absolute;
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  background-attachment: fixed;
}

.adoption-form {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  margin-bottom: 2%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 505px;
  border: 3px solid black;
  font-family: dancing;
  font-size: 20px;
  color: black;
  background: chocolate;
}
form h1 {
  text-align: center;
}

form input,
select,
option,
p {
  font-size: 24px;
  color: black;
}

input,
select,
option,
button,
label {
  width: 500px;
}

select,
input {
  height: 40px;
  background: #0c0b0b63;
  border-right: 1px solid black;
}
input {
}
#select-img {
  display: none;
}

#upload-button,
#label {
  background-color: #ff7a00;
  font-family: dancing;
  font-size: 30px;
  margin-left: 0;
}

#label {
  background-color: #6495ed;
  color: white;
  text-align: center;
}
/********************CARD SECTION**********************/
.dog-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card img {
  height: 300px;
}

.card {
  margin: 25px 10px;
  border: 3px solid #6495ed;
  background: #ff7a00c4;
  font-family: dancing;
  text-align: center;
}

.card h4,
.adopt-stat,
a {
  font-size: 30px;
}

.dog-name {
  font-weight: bold;
}

/********************MODAL SECTION**********************/
.modal-img {
}
