h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

input,
button {
  height: 50px;
  width: 100px;
}
.input-login {
  width: 300px;
}

#reg-form {
  display: flex;
  flex-direction: column;
  left: 20%;
}

#reg-form h1 {
  font-family: dancing;
  color: #ff7a00;
}

#btn-sign,
#btn-sign-two {
  font-size: 24px;
  font-family: dancing;
  padding: 0;
}

#btn-sign {
  align-self: center;
  width: 100%;
  background-color: #6495ed;
  font-size: 30px;
}

#btn-sign-two {
  background-color: #ff7a00;
}

#register-form {
  margin-bottom: 1%;
  margin-top: 5%;
}
/**************** RESPONSIVENESS SMALL ****************/
@media (max-width: 575.98px) {
  input,
  button,
  .input-login,
  #btn-sign,
  #btn-sign-two {
    height: 20px;
    width: 200px;
    font-size: 13px;
  }
  .input-login {
    width: 200px;
  }

  #btn-sign {
    width: 200px;
    align-self: flex-start;
  }
  #reg-form {
    left: 25%;
  }
}

/**************** RESPONSIVENESS Medium ****************/
@media (min-width: 768px) and (max-width: 991.98px) {
  input,
  button,
  .input-login,
  #btn-sign,
  #btn-sign-two {
    height: 40px;
    width: 500px;
    font-size: 16px;
  }
  .input-login {
    width: 500px;
  }

  #btn-sign {
    align-self: flex-start;
  }
  #reg-form {
    left: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #register-form {
    display: flex;
  }
  input,
  button,
  .input-login,
  #btn-sign,
  #btn-sign-two {
    height: 50px;
    width: 150px;
    font-size: 26px;
  }
  #reg-form {
    left: 20%;
  }
}

@media (min-width: 1200px) {
  #reg-form {
    left: 25%;
  }
  input,
  button,
  .input-login,
  #btn-sign-two,
  #btn-sign {
    height: 50px;
    width: 200px;
    font-size: 16px;
  }

  #btn-sign {
    width: 50%;
  }
  #btn-sign-two,
  #btn-sign {
    font-size: 34px;
  }
}
