/********************Imports**********************/
@font-face {
  src: url("/fonts/DancingScript-Regular.otf");
  font-family: dancing;
}

/********************FORM SECTION**********************/
.adopt {
  background-image: url("https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
  display: flex;
  position: absolute;
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  background-attachment: fixed;
}

.adoption-form {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  margin-bottom: 2%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 505px;
  border: 3px solid black;
  font-family: dancing;
  font-size: 20px;
  color: black;
  background: #d2691ed9;
}
form h1 {
  text-align: center;
}

form input,
select,
option,
p {
  font-size: 24px;
  color: black;
}

input,
select,
option,
button,
label {
  width: 500px;
}

select,
input {
  height: 40px;
  background: #0c0b0b63;
  border-right: 1px solid black;
}
input {
}
#select-img {
  display: none;
}

#upload-button,
#label {
  background-color: #ff7a00;
  font-family: dancing;
  font-size: 30px;
  margin-left: 0;
}

#label {
  background-color: #6495ed;
  color: white;
  text-align: center;
}
/********************CARD SECTION**********************/
.dog-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card img {
  height: 300px;
}

.card {
  margin: 25px 10px;
  border: 3px solid #6495ed;
  background: #ff7a00c4;
  font-family: dancing;
  text-align: center;
}

.card h4,
.adopt-stat,
a,
#adopt-button {
  font-size: 30px;
}

.dog-name {
  font-weight: bold;
}

/********************MODAL SECTION**********************/
.modal-img {
  width: 450px;
  border: 3px solid #ff7a00c4;
}

.dog-card {
  font-family: dancing;
}

#adopt-button {
  width: 100%;
  height: 50px;
  background: #6495ed;
  border: 3px solid #ff7a00c4;
  padding: 0;
}

#adopt-form-modal,
.adopt-select,
.input,
.adopt-btn {
  width: 100%;
}

#contact-us {
  font-family: dancing;
}
