/********************FORM SECTION**********************/
.adoption-form {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/********************CARD SECTION**********************/
.dog-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card img {
  height: 300px;
}
