#app {
  display: flex;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1549291981-56d443d5e2a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

#nav {
  font-size: 30px;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

h1,
h3,
img {
  margin: 0;
}

.header > h1 {
  font-size: 60px;
  margin: 25px 0 15px 0;
  letter-spacing: 10px;
}

h3 {
  color: cornflowerblue;
  font-size: 30px;
}

a,
a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-family: -webkit-pictograph;
  margin-bottom: 15px;
}

.subtitle {
  text-align: center;
  margin-bottom: 15px;
}

#header-logo {
  height: 150px;
  width: 150px;
}

.landing-help {
  display: flex;
  justify-content: center;
}

.landing-help > h1 {
  color: white;
  font-size: 60px;
  font-family: -webkit-pictograph;
}
/**************** RESPONSIVENESS Small ****************/

@media (max-width: 575.98px) {
  .header > h1 {
    font-size: 20px;
  }

  .header > h3 {
    font-size: 20px;
  }

  #header-logo {
    height: 50px;
    width: 50px;
  }

  .landing-help > h1 {
    font-size: 20px;
    text-align: center;
  }
}

/**************** RESPONSIVENESS MEDIUM ****************/
@media (min-width: 576px) and (max-width: 767.98px) {
  .header > h1 {
    font-size: 40px;
  }

  .header > h3 {
    font-size: 30px;
  }

  #header-logo {
    height: 100px;
    width: 100px;
  }

  .landing-help > h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .landing-help > h1 {
    font-size: 50px;
    text-align: center;
  }

  .header > h1 {
    font-size: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .landing-help > h1 {
    font-size: 55px;
  }

  .header > h1 {
    font-size: 55px;
  }
}

@media (min-width: 1200px) {
  .landing-help > h1 {
    letter-spacing: 10px;
  }
}
