body {
  display: flex;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1549291981-56d443d5e2a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
  font-family: -webkit-pictograph;
}

.landing-help {
  display: flex;
  justify-content: center;
}

.landing-help > h1 {
  color: darkorange;
  font-size: 28px;
  font-family: -webkit-pictograph;
}

@media (max-width: 575.98px) {
  .header > h1 {
    font-size: 20px;
    color: red;
  }

  .header > h3 {
    font-size: 16px;
    color: red;
  }
}
