#app {
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  src: url("/fonts/DancingScript-Regular.otf");
  font-family: dancing;
}

a,
a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ff7a00;
}

#nav {
  font-size: 30px;
  display: flex;
  justify-content: center;
  z-index: 2;
  font-size: 60px;
  color: #ff7a00;
  font-family: dancing;
}
#nav a.router-link-exact-active {
  color: #ff7a00;
}

.nav-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  background: none;
  z-index: 2;
  width: 100%;
  position: fixed;
}

input {
  height: 50px;
  width: 100px;
}

#verified {
  position: absolute;
  z-index: 3;
  top: 80%;
  left: 30%;
}

#verified p {
  color: #ff0000;
  font-family: dancing;
  font-size: 40px;
  color: #ff0000;
  font-family: dancing;
  font-size: 40px;
  border: 5px solid black;
}

/**************** RESPONSIVENESS SMALL ****************/
@media (max-width: 575.98px) {
  #nav {
    font-size: 18px;
    margin-top: 1%;
    flex-wrap: wrap;
  }

  .main {
    height: 115vh;
    width: 115%;
  }
}
/**************** RESPONSIVENESS Medium ****************/
@media (min-width: 576px) and (max-width: 767.98px) {
  #nav {
    font-size: 25px;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #nav {
    font-size: 35px;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #nav {
    font-size: 40px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  #nav {
    font-size: 50px;
    flex-wrap: wrap;
  }
}
